.text-primary{
    color: $primary;
}

.text-dark{
    color: $dark;
}

.text-blue{
    color: $blue;
}


.text-violet{
    color: $violet;
}

.text-grey{
    color: $grey;
}

.text-yellow{
    color: $yellow;
}

.text-orange{
    color: $orange;
}

.text-whitesmoke{
    color: $whitesmoke;
}

.bg-primary{
    background-color: $primary;
}

.bg-dark{
    background-color: $dark;
}

.bg-blue{
    background-color: $blue;
}


.bg-violet{
    background-color: $violet;
}

.bg-grey{
    background-color: $grey;
}

.bg-yellow{
    background-color: $yellow;
}

.bg-orange{
    background-color: $orange;
}

.bg-whitesmoke{
    background-color: $whitesmoke;
}